<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> Snippet </title>
  </head>
  <body>
    <form action="/snippet" method="post">
    <pre>
      <textarea rows = "40" cols = "50"> {{textarea}} </textarea>
    </pre>
  </form>
  </body>
</html>
