<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> Coding Shnippets </title>
  </head>
  <body>
    <h1><span> SIGNUP PAGE </span></h1>
    <p> {{message}} </p>

    <h3> Signup form </h3>
    <form action="/signup" method="post">
      <label> Username </label>
      <input type="text" name="username" value="A_username">

      <label> Password </label>
      <input type="password" name="password" value="password">

      <button type="submit"> Sign up </button>
    </form>

    <p> Already have an account? <a href="/login"> Login </a></p>
    <p> Or go <a href="/"> home </a></p>
  </body>
</html>
